
      <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">扬工-云光</strong>
                             </span> <span class="text-muted text-xs block">超级管理员<b class="caret"></b> </a>
                        </div>
                    </li>
                    <li class="active">
                <a href="{:U('Index/index')}"><i class="fa fa-diamond"></i> <span class="nav-label">后台首页</span></a>
            </li>
                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">网站设置</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li ><a href="{:U('Site/index')}">网站管理</a></li>
                            <li ><a href="{:U('Email/index')}">网站邮件设置</a></li>
                            <li ><a href="{:U('Site/url')}">URL模式设置</a></li>
                            <li ><a href="{:U('Adminer/index')}">管理员修改</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">网站分类管理</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="{:U('Fenlei/index')}">查看分类</a></li>
                            <li ><a href="{:U('Fenlei/add')}">添加分类</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">首页幻灯片管理</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="{:U('Slides/index')}">查看幻灯片</a></li>
                            <li ><a href="{:U('Slides/add')}">添加幻灯片</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">网站邀请码管理</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a  href="{:U('Yaoqing/index')}">查看邀请码</a></li>
                            <li ><a href="{:U('Yaoqing/add')}">添加邀请码</a></li>
                            <li ><a href="{:U('Yaoqing/production')}">生成邀请码</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">网站公告</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a  href="{:U('Gonggao/index')}">查看公告</a></li>
                            <li ><a href="{:U('Gonggao/add')}">添加公告</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">文章管理</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="{:U('Article/index')}">查看文章</a></li>
                            <li><a href="{:U('Article/recovery')}">文章回收站</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">会员管理</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="{:U('User/index')}">会员查看</a></li>
                            <li><a href="{:U('User/recovery')}">会员回收站</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">留言管理</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="{:U('Liuyan/index')}">留言查看</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">网站维护</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="{:U('Maintain/index')}">缓存清理</a></li>
                            <li><a href="{:U('Maintain/dataBackups')}">备份还原数据库</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">友情链接</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="{:U('Friendlink/index')}">查看友链</a></li>
                            <li><a href="{:U('Friendlink/add')}">添加友链</a></li>
                        </ul>
                    </li>
                <li>
                    <a href="{:U('Login/logout')}">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
        </div>
