<include file="Public/top" title = "里程密-查看分类" />
        <!-- start left -->
<include file="Public/left"/>
        <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- start top -->
        <include file="Public/top"/>
        <!-- end top -->
        <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>查看分类</h2>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>爱我所选，选我所爱，爱里程密，爱生活！</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>分类名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="arr" item="vo" key="k">
                    <tr class="gradeU">
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>
                           <a href="{:U('Fenlei/edit',array('id'=>$vo['id']))}"><button type="button" class="btn btn-w-m btn-info">修改</button></a>
                            <a href="{:U('Fenlei/delete',array('id'=>$vo['id']))}" onclick = "return shifou();"><button type="button" class="btn btn-w-m btn-danger">删除</button></a>
                        </td>
                    </tr>
                    <foreach name="arr2" item="vs" key="k">
                    <if condition = "$vo.id eq $vs['fid']">
                    <tr class="gradeU">
                        <td>{$vs.id}</td>
                        <td>——{$vs.name}</td>
                        <td>
                           <a href="{:U('Fenlei/edit',array('id'=>$vs['id']))}"><button type="button" class="btn btn-w-m btn-info">修改</button></a>
                            <a href="{:U('Fenlei/delete',array('id'=>$vs['id']))}" onclick = "return shifou();"><button type="button" class="btn btn-w-m btn-danger">删除</button></a>
                        </td>
                    </tr>
                    </if>
                    </foreach>
                    </foreach>
                    </tbody>
                    </table>

                    </div>
                </div>
            </div>
            </div>

    <!-- start footer -->
                    <include file="Public/footer" />
            <!-- end footer -->
        </div>
    <!-- Data Tables -->
    <script src="__PUBLIC__/Admin/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
